.headerContainer img{
    width: 20em;
}
.headerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #291f1f;
}
.formContainer{
    width: 20em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
}
.loaderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.5rem;
}



